@{
    ViewData["Title"] = "Home Page";
}

<h1 class="red-text impact">Welcome To Joe's Baseball Page!!</h1>
<div class="impact home-page-links">
    <li><a asp-action="players" asp-controller="player">Players</a></li>
    <li><a asp-action="teams" asp-controller="team">Teams</a></li>
    <li><a asp-action="stadiums" asp-controller="stadium">Stadiums</a></li>
    <li><a asp-action="managers" asp-controller="manager">Managers</a></li>
</div>



